<!-- views/success.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Success</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Signup Successful!</h1>
    <p>Your account has been created.</p>
</body>
</html>
